@using WebMatrix.Data
@{ 
    var db = Database.Open("FoodDB");
    var sql = "SELECT * FROM orders as ord join stores as sto on ord.store_id = sto.store_id join hubs as hub on sto.hub_id = hub.hub_id";
    if(IsPost && Request.Form["delete"]!= null)
    {
        var deleteQueryString = "Delete FROM Items WHERE itemID = @0";
        try
        {
            db.QuerySingle(deleteQueryString, Request.Form["delete"]);
            <div>successful</div>
        }
        catch
                {
                    <div>Fail</div>;
                }
    }
    var data = db.Query(sql);
}

<h2 class="text-center">Hub Orders Report</h2>
<hr />
<table class="table">
    <tr>
        <th scope="col">Order ID</th>
        <th>Hub Name</th>
        <th>Hub Id</th>
        <th>Order Amount</th>
        <th>Action</th>
    </tr>
    <tbody>
        @foreach (var x in data)
        {
            <tr>
                <td>@x.order_id</td>
                @*<td>@x.order_status</td>*@
                <td>@x.hub_name</td>
                <td>@x.hub_id</td>
                <td>@x.order_amount.ToString("C")</td>
                <td>
                    @*<a href="/Home/Details? id=@x.order_id" class="btn btn-secondary" target="_blank">View Detail</a>*@
                </td>
            </tr>
        }
